.manager {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "social button"
}

.social {
    display: flex;
    grid-area: social;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.buttonBox {
    display: flex;
    grid-area: button;
    justify-content: center;
    align-items: center;
}

.button {
    display: flex;
    width: 40%;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
}